.burger_wrapper{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color:var(--color-primary-dark);
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}