.log_wrapper{
.header_nav_wrapper{
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
        @media screen and (min-width:375px) {
        flex-direction: column;
        gap: 10px
        }
        @media screen and (min-width:768px) {
        flex-direction: row;
        gap: 0
        }
    .actions_wrapper{
    display: flex;
    align-items: center;
    @media screen and (min-width:375px) {
      gap:30px;
    }
    @media screen and (min-width:768px) {
      gap:10px;
    }
        .add_new_button{
        height: 50px;
          font-family: "DM Mono", monospace;
        
        color: var(--color-secondary-light);
        width: fit-content;
        padding: 10px ;
        background-color: var(--color-primary-dark);
        border: 1px solid transparent;
        border-radius: 5px;
        transition: all 300ms ease-in;
        &:hover{
            background-color: var(--color-secondary-light);
            color: var(--color-primary-dark);
            border: 1px solid var(--color-primary-dark);
            cursor: pointer;
        }
            @media screen and (min-width:375px) {
                font-size: 16px;
                padding: 10px 20px;
            }
            @media screen and (min-width:768px) {
                font-size: 20px;
                padding: 10px ;
            }
        }
        .nav_to_management{
        text-decoration: none;
        font-size: 20px;
        height: 50px;
        color: var(--color-secondary-light);
        width: fit-content;
        padding: 10px;
        background-color: var(--color-primary-dark);
        border: 1px solid transparent;
        border-radius: 5px;
        transition: all 300ms ease-in;
        &:hover{
            background-color: var(--color-secondary-light);
            color: var(--color-primary-dark);
            border: 1px solid var(--color-primary-dark);
        }
                    @media screen and (min-width:375px) {
        font-size: 16px;
    }
                     @media screen and (min-width:768px) {
        font-size: 20px;
    }
    
    }
    }
    
}
}
.add_post_modal{
    position: absolute;

    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--color-primary-dark);
    display: flex;
    justify-content: center;
     align-items: center;
    // @media screen and (min-width:768px)
    // {
    //     align-items: center;
    // }
    .modal_wrapper{
        padding: 15px;
        display: flex;
        flex-direction: column;
        min-width: 320px;
        width: 500px;
        height: 600px;
        background-color: var(--color-secondary-light);
        border-radius: 10px;
        .close_modal_button{
            align-self: flex-end;
            width: 20px;
            height: 20px;
            border-radius: 10px;
            color: var(--color-primary-dark);
            background-color: var( --color-secondary-light);
            border: 2px solid var(--color-primary-dark);
            transition: all 300ms ease-in;
            &:hover{
                color: var(--color-secondary-light);
                background-color: var(--color-primary-dark);
                cursor: pointer;
            }
        }
    }
}